<!-- JS -->
<script src="js/dark-light-switcher.js"></script>
<script src="js/sponsor-tab-switcher.js" defer></script>

<!-- Navbar -->
<nav class="border-gray-200 px-4 py-2.5 rounded navbar md:px-2">
    <div class="container flex flex-row flex-wrap justify-between mx-auto">
        <!-- Logo -->
        <a href="/kitahack2023/" class="flex items-center">
            <img src="./img/dsc_logo.svg" class="h-6 mr-3 sm:h-9" alt="DSC Logo" />
            <span class="text-black self-center text-xl font-semibold whitespace-nowrap dark:text-white">GDSC Kitahack</span>
        </a>

        <!-- Nav Menu -->
        <div class="flex flex-row items-center">
            <div class="flex flex-row">
                <!-- Theme Toggle Button -->
                <button id="theme-toggle" type="button" class="text-sm text-gray-500 rounded-lg p-2.5 mr-2 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700">
                    <svg id="theme-toggle-dark-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>

                <!-- Mobile Hamburger Toggle Button -->
                <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>

            <!-- Desktop Menu -->
            <div class="hidden w-full md:block md:w-auto">
                <ul class="flex flex-row space-x-8 p-4 font-medium text-sm bg-gray-50 rounded-lg dark:bg-gray-800 md:dark:bg-gray-900">
                    <li>
                        <a href="/kitahack2023/" class="block text-blue-700 rounded dark:text-white" aria-current="page">Home</a>
                    </li>

                    <!-- Event Menu Dropdown -->
                    <li class="dropdown dropdown-bottom dropdown-end block hover:cursor-pointer hover:bg-gray-100 hover:bg-inherit dark:text-gray-400 dark:hover:bg-gray-900" tabindex="0">
                        <label class="hover:cursor-pointer dark:hover:text-white" tabindex="0">
                            Event
                            <svg class="inline-block w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </label>

                        <ul tabindex="0" class="dropdown-content menu bg-white rounded shadow w-44 mt-5 dark:bg-gray-700">
                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/demo-day.html">Demo Day</a></li>
                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/gsc-info-session.html">Google Solution Challenge 2023 Info Session</a></li>
                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/sc-kickoff.html">2023 Solution Challenge Kickoff Event</a></li>

                            <!-- Workshop Menu Dropdown -->
                            <li>
                                <div class="group dropdown dropdown-left hover:cursor-pointer" tabindex="0">
                                    <label class="hover:cursor-pointer dark:hover:text-white" tabindex="0">
                                        Workshops
                                        <svg class="inline-block w-5 h-5 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                        </svg>
                                    </label>
                                    <ul id="workshop_toggle" tabindex="0" class="flex-row flex-wrap dropdown-content menu bg-white rounded shadow w-[300px] mt-[-45px] mr-1 duration-100 ease-in hidden dark:bg-gray-700 group-hover:block">
                                        <li class="dark:hover:text-white"><a href="/kitahack2023/html/sunway-web-dev.html">Sunway Web Dev Workshop</a></li>
                                        <li class="dark:hover:text-white"><a href="/kitahack2023/html/monash-flutter-firebase.html">Monash Flutter & Flask Workshop Series</a></li>
                                        <li class="dark:hover:text-white"><a href="/kitahack2023/html/kdu-android.html">KDU Android Workshop</a></li>
                                        <li class="dark:hover:text-white"><a href="/kitahack2023/html/um-machine-learning.html">UM Machine Learning Workshop</a></li>
                                        <li class="dark:hover:text-white"><a href="/kitahack2023/html/tarumt-.Net-git.html">TARUMT .Net Core + Git</a></li>
                                        <li class="dark:hover:text-white"><a href="/kitahack2023/html/tarumt-angular-materialui.html">TARUMT Angular + Material UI</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="mailto:dscmykita@gmail.com" class="block text-gray-700 rounded hover:bg-transparent hover:text-blue-700 dark:text-gray-400 dark:hover:text-white dark:hover:bg-transparent">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Mobile Menu -->
        <div class="hidden md:hidden w-full" id="navbar-default">
            <ul class="flex flex-col gap-1 p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
                <li>
                    <a href="/kitahack2023/" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:p-0 dark:text-white dark:bg-gray-700" aria-current="page">Home</a>
                </li>

                <!-- Event Menu Dropdown -->
                <li>
                    <div class="group dropdown dropdown-bottom dropdown-end block py-2 pl-3 pr-4 text-gray-700 rounded hover:cursor-pointer hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700" tabindex="0">
                        <label class="hover:cursor-pointer dark:hover:text-white dark:group-hover:text-white" tabindex="0">
                            Event
                            <svg class="inline-block w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                            </svg>
                        </label>

                        <div class="mt-1 pl-4 hidden group-hover:block">
                            <ul>
                                <li class="dark:hover:text-white"><a href="/kitahack2023/html/demo-day.html">Demo Day</a></li>
                                <li class="dark:hover:text-white"><a href="/kitahack2023/html/gsc-info-session.html">Google Solution Challenge 2023 Info Session</a></li>
                                <li class="dark:hover:text-white"><a href="/kitahack2023/html/sc-kickoff.html">2023 Solution Challenge Kickoff Event</a></li>

                                <!-- Workshop Menu Dropdown -->
                                <li>
                                    <label class="hover:cursor-pointer dark:hover:text-white" tabindex="0">
                                        Workshops
                                        <svg class="inline-block w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                        </svg>
                                    </label>

                                    <div class="mt-1 pl-4 hidden group-hover:block">
                                        <ul>
                                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/sunway-web-dev.html">Sunway Web Dev Workshop</a></li>
                                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/monash-flutter-firebase.html">Monash Flutter & Flask Workshop Series</a></li>
                                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/kdu-android.html">KDU Android Workshop</a></li>
                                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/um-machine-learning.html">UM Machine Learning Workshop</a></li>
                                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/tarumt-.Net-git.html">TARUMT .Net Core + Git</a></li>
                                            <li class="dark:hover:text-white"><a href="/kitahack2023/html/tarumt-angular-materialui.html">TARUMT Angular + Material UI</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                <li>
                    <a href="mailto:dscmykita@gmail.com" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END of Navbar -->